<div class="row">
  <div class="col-sm-1 answerVoteControl">
    <span class="glyphicon glyphicon-triangle-top" data-aid="<%=answer.id%>"></span>
    <p id="answerCount<%=answer.id%>"><%=answer.calculate_vote%></p>
    <span class="glyphicon glyphicon-triangle-bottom" data-aid="<%=answer.id%>"></span>
  </div>
  <div class="col-sm-11">
    <div class="row">
      <%= answer.body %> <% if current_user && answer.user_id == current_user.id %><%= link_to "Edit", edit_question_path(@question, answer) %> | <%= form_for [@question, answer], method: :delete, :html=>{:class=>'commentControl'} do |f| %><%= f.submit "Delete", class:"btn btn-link commentControl" %><% end %><% end %>
    </div>
    <div class="answerSecondRow row">
      <div class="questionOwnerControl col-sm-8">
          <%= render partial:"questions/comment_display", locals:{source:answer}%>
        <% if logged_in? %>
          <div class="row">
            <%= link_to "add a comment", new_answer_comment_path(answer) %>
          </div>
        <% end %>
      </div>

      <div class="col-sm-4">
        <p>answered: <%= answer.created_ago %> days ago</p>
        <%= link_to answer.user.username, user_path(answer.user) %>
      </div>
    </div>
  </div>
</div>