<ol id="questions-list">
	<% @questions.each do |question| %>
		<li class="question-container">
			<div class="votes">
				<p>Votes: <%= question.vote_count %></p>
			</div>
			<ul class="question-main">
				<li><%= question.title %></li>
				<li><%= truncate(question.body, limit: 80) %></li>
				<li><% question.tags.each do |tag| %>
							<span class="tag"><%= tag.name %></span>
						<% end %>
				</li>
			</ul>
			<div class="question-info">
				<p>asked: <%= question.created_ago %> days ago by <%= question.user.username %></p>
			</div>
		</li>
	<% end %>
</ol>
