<%= form_for @question do |f| %>
  <fieldset>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div>
      <label for="tag_names">Tags</label>
      <input type="text" name="tag_names" placeholder="e.g. Ruby, JavaScript"/>
    </div>
    <div>
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
