<h1><%= @question.title %></h1>

<% if @question.user_id == current_user.id %>
  <span><%= link_to "Edit", edit_question_path(@question) %></span>
  <span>
    <%= form_for @question, method: :delete do |f| %>
      <%= f.submit "Delete" %>
    <% end %>
  </span>
<% end %>

<p><%= @question.body %></p>

<ul>
  <li>
    <% @question.tags.each do |tag| %>
      <span class="tag"><%= tag.name %></span>
    <% end %>
  </li>
</ul>

<% if @question.answers.length > 0 %>
  <ul>
    <% @question.answers.each do |answer| %>
    <li>
      <%= answer.body %>
    </li>
    <li>
      <div class="answer-info">
        <p>asked: <%= answer.created_ago %> days ago by <%= answer.user.username %></p>
      </div>
    </li>
    <li>
      <% if answer.user_id == current_user.id %>
        <span><%= link_to "Edit", edit_question_answer_path(@question, answer) %></span>
        <span>
          <%= form_for [@question, answer], method: :delete do |f| %>
            <%= f.submit "Delete" %>
          <% end %>
        </span>
      <% end %>
    </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no answers for this question yet</p>
<% end %>

<%= link_to "Add an answer", new_question_answer_path(@question) %>
