<h1><%= @question.title %></h1>

<% if current_user && @question.user_id == current_user.id %>
  <span><%= link_to "Edit", edit_question_path(@question) %></span>
  <span>
    <%= form_for @question, method: :delete do |f| %>
      <%= f.submit "Delete" %>
    <% end %>
  </span>
<% end %>

<p><%= @question.body %></p>

<ul>
  <li>
    <% @question.tags.each do |tag| %>
      <span class="tag"><%= link_to tag.name, tag_path(tag) %></span>
    <% end %>
  </li>
</ul>

<div class="question-info">
        <p>asked: <%= @question.created_ago %> days ago by <%= link_to @question.user.username, user_path(@question.user) %></p>
</div>

<% if @question.comments.length > 0 %>
  <ul>
    <% @question.comments.each do |comment| %>
      <li>
        <%= comment.body %><span> -<%= link_to comment.user.username, user_path(comment.user) %></span>
      </li>
      <% if current_user && comment.user_id == current_user.id %>
        <li>
          <span><%= link_to "Edit", edit_question_comment_path(@question, comment) %></span>
          <span>
            <%= form_for [@question, comment], method: :delete do |f| %>
              <%= f.submit "Delete" %>
            <% end %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if current_user %>
  <%= link_to "add a comment", new_question_comment_path(@question) %>
<% end %>

<% if @question.answers.length > 0 %>
  <ul>
    <% @question.answers.each do |answer| %>
      <li>
        <%= answer.body %>
      </li>
      <li>
        <div class="answer-info">
          <p>answered: <%= answer.created_ago %> days ago by <%= link_to answer.user.username, user_path(answer.user) %></p>
        </div>
      </li>
      <li>
        <% if current_user && answer.user_id == current_user.id %>
          <span><%= link_to "Edit", edit_question_answer_path(@question, answer) %></span>
          <span>
            <%= form_for [@question, answer], method: :delete do |f| %>
              <%= f.submit "Delete" %>
            <% end %>
          </span>
        <% end %>
      </li>
      <% if answer.comments.length > 0 %>
        <li>
          <% answer.comments.each do |comment| %>
            <ul>
              <li><%= comment.body %><span> -<%= link_to comment.user.username, user_path(comment.user) %></span></li>
              <% if current_user && comment.user_id == current_user.id %>
                <li>
                  <span><%= link_to "Edit", edit_answer_comment_path(answer, comment) %></span>
                  <span>
                    <%= form_for [answer, comment], method: :delete do |f| %>
                      <%= f.submit "Delete" %>
                    <% end %>
                  </span>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
      <% if current_user %>
        <li>
          <%= link_to "add a comment", new_answer_comment_path(answer) %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>There are no answers for this question yet</p>
<% end %>

<% if current_user %>
  <%= link_to "Add an answer", new_question_answer_path(@question) %>
<% end %>
