<!-- TODO: Make this route work -->
<h2> #tags </h2>
<div id="search_by_tag">
  <%= form_tag tags_search_path do %>
    <%= text_field_tag :search_name %>
    <%= submit_tag "search by tag"%>
  <% end %>
</div>
<div id="latest_and_greatest">
  <%= link_to "latest", tags: :index, :query => "latest" %> <%= link_to "greatest", tags: :index, :query => "greatest" %>
</div>
<% @tags.each do |tag|%>
<%= link_to(raw("<h4 class='list-group-item-heading'><span class='tagName'>#{tag.name}</span><span class='badge' style='float:right;'>#{tag.questions.count}</span></h4><p class='list-group-item-text'>#{tag.questions.added_today.length} added today</p><p class='list-group-item-text'>#{tag.questions.added_this_week.length} added this week</p>"), tag_path(tag),{:class=>'list-group-item'})%>
<% end %>