<!-- TODO: Make this route work -->
<div id="search_by_tag">
  <%= form_for :tag do |f| %>
    <%= f.text_field :tag_name %>
    <%= f.submit "Search By Tag"%>
  <% end %>
</div>

<div>
  <ul>
  <% @tags.each do |tag|%>
    
    <li><%= link_to tag.name, tag_path(tag) %> <%= tag.questions.count %></li>
    <li><% tag.questions.added_today.count %> asked today / <% tag.questions.added_this_week.count %> asked this week</li>
  <% end %>
  </ul>
</div>