<!-- TODO: Make this route work -->
<div id="search_by_tag">
  <%= form_tag tags_search_path do %>
    <%= text_field_tag :search_name %>
    <%= submit_tag "Search By Tag"%>
  <% end %>
</div>

<div>
  <ul>
  <% @tags.each do |tag|%>
    
    <li class="tag_link"><%= link_to tag.name, tag_path(tag) %> <%= tag.questions.count %></li>
    <li><%= tag.questions.added_today.length %> added today / <%= tag.questions.added_this_week.length %> added this week</li>
  <% end %>
  </ul>
</div>