<%= link_to "back to all tags", tags_path %>
<h2 class="bolder"><%= @tag.name %></h2>  
<div>
  <ul>
    <% @tag.questions.each do |question|%>
      <li>
        <p> <%= question.vote_count %> votes, <%= question.answers.count %> answers </p>
        <p><%= link_to question.title, question_path(question) %></p>
        <p><%= truncate(question.body, limit: 80) %></p>
        <p class="list_of_tags"><% question.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag) %>
           <% end %>
        </p>
      </li>
    <% end %>
  </ul>
</div>